[submodule "lib/telepathy-contracts"]
	path = lib/telepathy-contracts
	url = git@github.com:succinctlabs/telepathy-contracts.git
[submodule "the_contractor/lib/forge-std"]
	path = the_contractor/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
